body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: #003049;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

}

#container2 {

    display: flex;
    flex-direction: column;
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;

}

#container div {
    width: 200px;
    height: 200px;
    margin-bottom: 50 px;
}

#container2 div {
    width: 200px;
    height: 200px;
}

#container+#container2 {
    margin-top: 10px;
}